In [39]:
num = int(input("enter a number: "))
if num%2==0:
    print("Even Number\n")
else:
    print("Odd NUmber")

enter a number: 6
Even Number

In [40]:
india = ["samosa","nan","dal"]
chinese = ["noodles","roll","momo"]
italian = ["risotto","pasta","pizza"]
item = input("Enter dish name: \n")
if item in india: 
    print("Indian Dish")
elif item in chinese:
    print("Chinese Dish")
elif item in italian:
    print("Italian Dish")
else:
    print("Dont know what cuisine is",item)

Enter dish name:
momo
Chinese Dish

###  Print first 10 numbers using range()

In [41]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [42]:
exp = [100,200,400,600,800]
total = 0
for i in range(len(exp)):
    print("month",i+1,"expense:",exp[i])
    total += exp[i]
print("Total Expense: ",total)

month 1 expense: 100
month 2 expense: 200
month 3 expense: 400
month 4 expense: 600
month 5 expense: 800
Total Expense:  2100

### Q1 Calculate the sum of all number from 1 to given number.

In [43]:
num = int(input("enter a number: "))
for i in range(1,num+1):
    print(i)

enter a number: 12
1
2
3
4
5
6
7
8
9
10
11
12

### Q2 Count the total number of digits in a number

In [44]:
num = input("enter a number: ")
print("Digits in",num,"are: ",len(num))

enter a number: 123454321
Digits in 123454321 are:  9

### Q3 Print list in reverse order.

In [58]:
l1 = [10,20,30,40,50]
#print l1[::-1]
for i in range(len(l1)-1, -1, -1):
    print(l1[i])

50
40
30
20
10

### Q4 Write a program to display all prime numbers within a range.

In [46]:
def isPrime(n):
    if(n==1 or n==0):
        return False
    
    for i in range(2,(n//2)+1):
        if(n%i==0):
            return False
    return True

n1 = int(input("Enter first number: "))
n2 = int(input("Enter last number: "))
print("The prime nos. between ",n1," and ",n2,"are: \n")
for i in range(n1,n2+1):
    if(isPrime(i)):
        print(i)

Enter first number: 2
Enter last number: 10
The prime nos. between  2  and  10 are:

2
3
5
7

### Q5 Display Fibonacci Series upto 10 terms

In [49]:
def Fib(n):
    if n == 0:
        return 0
    if n == 1 or n == 2:
        return 1
    else:
        return Fib(n-1) + Fib(n-2)
print("Fibonacci Series upto 10 terms: \n")
for i in range(n):
    print(Fib(i))

Fibonacci Series upto 10 terms:

0
1
1
2
3
5
8
13
21
34