In [4]:
num = int(input("enter a number: "))
if num%2==0:
    print("Even Number\n")
else:
    print("Odd NUmber")

enter a number: 5
Odd NUmber

In [12]:
india = ["samosa","nan","dal"]
chinese = ["noodles","roll","momo"]
italian = ["risotto","pasta","pizza"]
item = input("Enter dish name: \n")
if item in india: 
    print("Indian Dish")
elif item in chinese:
    print("Chinese Dish")
elif item in italian:
    print("Italian Dish")
else:
    print("Dont know what cuisine is",item)

Enter dish name:
momo
Chinese Dish

###  Print first 10 numbers using range()

In [8]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
exp = [100,200,400,600,800]
total = 0
for i in range(len(exp)):
    print("month",i+1,"expense:",exp[i])
    total += exp[i]
print("Total Expense: ",total)

month 1 expense: 100
month 2 expense: 200
month 3 expense: 400
month 4 expense: 600
month 5 expense: 800
Total Expense:  2100